---
layout: 2017_default
permalink: /agenda
published: true
---
<script type="text/javascript">
function swapShortVersion(abstract_id) {
  var short = document.getElementById(abstract_id + "_short");
  var long = document.getElementById(abstract_id + "_long");

  if (long.style.display === "none") {
    short.style.display = "none";
    long.style.display = "block";
  } else {
    long.style.display = "none";
    short.style.display = "block";
  }
} 
</script>

    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ site.title }}</h1>

        <h2> </h2> <!-- Keep space between title and table (sorry, no energy left to hunt the css). -->
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Track A</center></th>
                    <th class="row-2 agenda-activity"><center>Track B</center></th>  
                </tr>
            </thead>
            
            {% assign track_a = site.data.twenty_17.agendas_1 %}
            {% assign track_b = site.data.twenty_17.agendas_2 %}
            {% assign rows = track_a.size | minus: 1 %}
            {% for i in (0..rows) %}
                <tr>
                    <td>{{ track_a[i].time }}</td>
                    <td><b>{{ track_a[i].item }}</b><br>{{ track_a[i].speaker }}
{% assign abstract = track_a[i].abstract %}
{% if abstract.size > 300 %}
<p class="abstract" id="{{i}}A_short" onclick="swapShortVersion('{{i}}A')">{{ abstract | truncate 300}} (...click to read more...)</p>
<p class="abstract" id="{{i}}A_long" onclick="swapShortVersion('{{i}}A')" style="display:none">{{ abstract }} (click to reduce)</p>
                      {% else %}
<p class="abstract">{{ abstract }}</p>
                      {% endif %}
                    </td>
                    <td><b>{{ track_b[i].item }}</b><br>{{ track_b[i].speaker }}
                      <p class="abstract">{{ track_b[i].abstract }}</p></td>
                </tr> 
            {% endfor %}
    </div>
