<section id="cfs" class="bg-light-gray">

<div class="text-center">
<h2>Call for sessions Italian C++ Conference 2021 – June 19 (Online)</h2>
</div>

<div  class="narrow">
{% markdown %}
Currently, we accept talk proposals in both **English** and **Italian** (if you are confident with both, use English). 

You can submit:

* **30-min** or **50-min talks**,
* interactive workshops hosted on any platforms (e.g. Discord or Google Meet),
* other session lengths and formats can be discussed. If interested, please reach out.

**Submissions deadline is April 11 with decisions sent by April 20.**

You can submit more than one talk.

You should submit a talk about anything you think it’s worth sharing with the *C++ Community*.
{% endmarkdown %}
<div>
<div>
    <a data-toggle="collapse" data-target="#hot_topics">See what the hot topics are.</a>

    <div id="hot_topics" class="collapse" data-toggle="collapse" data-target="#hot_topics">
{% markdown %}
_(click to close)_

### Most wanted topics from our past events attendees, in "hot-ness" order: ###

* More on C++17/20 (aka Modern C++) and metaprogramming
* Software Architecture, software design, design patterns and best coding practices in C++
* Multithreading, concurrency and parallel computing (with or without the standard library)
* Reports on real-world applications (possibly with modern C++)
* Qt/QML/KDE/JUCE/console graphics (ie ncurses)/AOB in C++
* Optimizations/HPC/Performance/SIMD
* AI/Machine learning
* Videogames development in C++
* Functional programming in C++ and its applications
* Existing frameworks (ie Poco, Boost C++, libuv, Asio, …) integration
* Debugging/Profiling tools (ie valgrind, heaptrack, sanitizers, …)
* Cross compilation
* WebAssembly
* Coroutines (and networking, possibly)
* Computer graphics/3D rendering
* Live coding and hot reload
* Mobile programming in C++
* Modules
* Ranges
* Continous integration
* Productionalisation
* Reflection in C++: present and future
* Comparison between C++ an other languages (ie C++ vs Rust)
* Concepts
* Microservices
* Async programming and existing frameworks
* Blockchain
* C++ for heterogeneous architectures
* Variadic templates
* Low level programming
* Toolchains items for C++ (test platform, code analisys and so on)
* Misra/Autosar/Embedded C++
* Executors (how to build one for the GPU)
* Ways of managing error handling (std::except, std::exception, boost::outcome)
* Real time simulation
* Digital Twin
* On Board Diagnostics
* Futures, channels, …
* Constexpr extensions (ie constexpr dynamic allocation)
* WinRT
* Unit testing
* Regex

Shout-out to **Michele skypjack Caini** for having organized such a list.

{% endmarkdown %}
    </div>
</div>

{% markdown %}
For example, have you learned something interesting about C++, maybe a new technique possible in C++17/20? Or perhaps you have implemented something cool related to C++, maybe a new C++ library.

As C++ developers, C++ is important to us. However, we are happy to host talks on other topics that can inspire us.

Our events abide by the Italian [C++ Community Code of Conduct](https://github.com/italiancpp/code-of-conduct/blob/master/code_of_conduct.md).

* * *

### Voting and decisions ###

When the conference gets more talks than the capacity (e.g. 10), we open a poll.

The conference has no real dedicated program committee, all attendees of the past, the Italian C++ Community staff and this year speakers are included in this voting. Each vote is between 0 – 5 points per talk. Visible in the voting tool are usually only the talk info (title, abstract, notes only if important for the voting), staff members only are able to see also the speaker name and bio. More details on this once the voting begins.

Final decision is then made once the voting deadline has passed.{% endmarkdown %}
</div>

<div class="text-center">
<h2>Submit your proposal! 👇</h2>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfLpFXx9ph42VXvnhWTAuiKEY0ifEL44R1b__VzSxhsU7v9Ng/viewform?embedded=true" width="80%" height="2390" frameborder="0" marginwidth="0" marginheight="0">Loading…</iframe>
</div>
</section>
