{% capture cfs_part_one %}
Currently, we accept talk proposals in both **English** and **Italian** (if you are confident with both, use English). 

You can submit:

* either **30-min** or **50-min talks** (Q&A should be included in this time);
* other session lengths and formats can be discussed. If interested, please [reach out](mailto:https://italiancpp.org/).

Talks are intended **in-person** only. We are not accepting remote-only nor pre-recorded sessions.

**Submissions deadline is April 2 with decisions sent by April 9.**

The conference is free to attend and not-for-profit, thus **we can't cover your travel exepenses/accommodation**. However, we are collecting fundings for inviting speakers, staff, and sponsors to a pre-conference special dinner (not confirmed yet). 

You should submit a talk about anything you think it’s worth sharing with the *C++ Community*.
{% endcapture %}

{% capture hot_topics %}
_(click to close)_

### Most wanted topics from our past events attendees, in "hot-ness" order: ###

* More on C++17/20 (aka Modern C++) and metaprogramming
* Software Architecture, software design, design patterns and best coding practices in C++
* Multithreading, concurrency and parallel computing (with or without the standard library)
* Reports on real-world applications (possibly with modern C++)
* Qt/QML/KDE/JUCE/console graphics (ie ncurses)/AOB in C++
* Optimizations/HPC/Performance/SIMD
* AI/Machine learning
* Videogames development in C++
* Functional programming in C++ and its applications
* Existing frameworks (ie Poco, Boost C++, libuv, Asio, …) integration
* Debugging/Profiling tools (ie valgrind, heaptrack, sanitizers, …)
* Cross compilation
* WebAssembly
* Coroutines (and networking, possibly)
* Computer graphics/3D rendering
* Live coding and hot reload
* Mobile programming in C++
* Modules
* Ranges
* Continous integration
* Productionalisation
* Reflection in C++: present and future
* Comparison between C++ an other languages (ie C++ vs Rust)
* Concepts
* Microservices
* Async programming and existing frameworks
* Blockchain
* C++ for heterogeneous architectures
* Variadic templates
* Low level programming
* Toolchains items for C++ (test platform, code analisys and so on)
* Misra/Autosar/Embedded C++
* Executors (how to build one for the GPU)
* Ways of managing error handling (std::except, std::exception, boost::outcome)
* Real time simulation
* Digital Twin
* On Board Diagnostics
* Futures, channels, …
* Constexpr extensions (ie constexpr dynamic allocation)
* WinRT
* Unit testing
* Regex

Shout-out to **Michele skypjack Caini** for having organized such a list.
{% endcapture %}

{% capture cfs_part_two %}
For example, have you learned something interesting about C++, maybe a new technique possible in C++17/20? Or perhaps you have implemented something cool related to C++, maybe a new C++ library.

As C++ developers, C++ is important to us. However, we are happy to host talks on other topics that can inspire us.

Our events abide by the Italian [C++ Community Code of Conduct](https://github.com/italiancpp/code-of-conduct/blob/master/code_of_conduct.md).

* * *

### Voting and decisions ###

You can submit more than one talk.

If the number of submissions exceeds the event capacity, we open a poll.

The conference has no real dedicated program committee, all attendees of the past, the Italian C++ Community staff and this year speakers are included in this voting. Each vote is between 0 – 5 points per talk. Visible in the voting tool are usually only the talk info (title, abstract, notes only if important for the voting), staff members only are able to see also the speaker name and bio. More details on this once the voting begins.

Final decision is then made once the voting deadline has passed.
{% endcapture %}


<section class="bg-light-gray">
<a id="csf-form" class="push-down-anchor"></a>


<div class="text-center">
<h2>Call for sessions Italian C++ Conference 2023 – June 10</h2>
</div>

<div  class="narrow">
    {{ cfs_part_one | markdownify }}
<div>

<div>
    <a data-toggle="collapse" data-target="#hot_topics">See what the hot topics are.</a>
    <div id="hot_topics" class="collapse" data-toggle="collapse" data-target="#hot_topics">
        {{ hot_topics | markdownify }}
    </div>
</div>

<div>
    {{ cfs_part_two | markdownify }}
</div>

<div class="text-center">
<h2>Submit your proposal! 👇</h2>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdEeEE3BJNK0rm3WqIOST4MADKz6CYLc1U9yWdqhobDcVH8rg/viewform?embedded=true" width="80%" height="2390" frameborder="0" marginwidth="0" marginheight="0">Loading…</iframe>
</div>
</section>
