<section class="bg-light-gray">
    <div class="narrow" markdown="1">
    {% assign my_variable = "The Italian C++ Conference is the biggest and most successful event organized by the Italian C++ Community.  
Here professionals, companies and students meet to share experience about C++ development and practices.

The first **Italian C++ Conference** took place in [2016](https://www.italiancpp.org/event/conference-2016/) and hosted **100+ attendees**.

The last “in-person” Italian C++ Conference was organized in [2019](https://www.italiancpp.org/itcppcon19) and hosted **~240 people** with a special keynote by **Andrei Alexandrescu**, 7 sponsors and 10 talks.

Last year, in [2020](https://www.italiancpp.org/itcppcon20), the COVID emergency challenged us to adapt and to learn from scratch a new way to organize events and interact with people. We made it and we organized a virtual event with **415 check-ins** and **250 keynote live-viewers**.

 
We are all pioneering the age of virtual conferences. Will you join us?
----

* * *" %}
    {{ my_variable | markdownify }}



    </div>
</section>
