{% capture ugly_workaround %}
The Italian C++ Conference is the biggest and most successful event series organized by the [Italian C++ Community](https://italiancpp.org) since 2013 where professionals, companies, and students meet and share experience about C++ development and practices.

<figure>
  <img src="https://italiancpp.org/assets/images/about/itcppcon19-crowd.jpg" alt="Italian C++ Conference 2019" style="width:90%">
</figure>

<br/>

The Italian C++ Conference 2023 will be held in-person on **June 10** in **Rome**, hosted at "Rome Tre" University and free to attend. 

<br/>

**Why you cannot miss it:**

⭐ The Italian C++ Community turns 10 this year ⭐

🎙️ **Tech talks** about C++ development and best practices 🎙️

💬 Face to face networking and getting together, 3 years after the pandemic 💡

👩‍💼 Interaction with company sponsors 👨‍💼

🆓 **free** to attend 🆓

♥️ **organized with passion** by the Italian C++ Community 💙

<br/>
 
----

* * *
{% endcapture %}

<section class="bg-light-gray text-center">
    <div class="narrow" markdown="1">
{{ ugly_workaround | markdownify }}
    </div>
</section>
