<!-- Portfolio Grid Section -->
    <section class="bg-light-gray">
        <a id="speakers" class="push-down-anchor"></a>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1 class="section-heading">Speakers</h1>
                </div>
            </div>
            <div class="row">
            {% for speaker in site.data.speakers %}
                <div class="col-md-2 col-sm-6 speakers-item">
                    <!-- <a href="#{{ post.name }}" class="speakers-link" data-toggle="modal"> -->
                    <a href="#speaker_id_{{forloop.index}}" class="speakers-link" data-toggle="modal">
                        <div class="speakers-hover">
                            <div class="speakers-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/{{ speaker.img }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="speakers-caption">
                        <h4>{{ speaker.name }}</h4>
                        <p class="text-muted">{{ speaker.job }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
