
<section class="text-center">
<h1>Sponsors</h1>
<a id="sponsors" class="push-down-anchor"></a>
<div class="grid-partners">
    <div><a href="https://meetingcpp.com/"><img src="img/TBD.jpg" alt="Meeting C++"></a></div>
    <div><a href="https://meetingcpp.com/"><img src="img/TBD.jpg" alt="Meeting C++"></a></div>
    <div><a href="https://meetingcpp.com/"><img src="img/TBD.jpg" alt="Meeting C++"></a></div>
    <div><a href="https://meetingcpp.com/"><img src="img/TBD.jpg" alt="Meeting C++"></a></div>
    <div><a href="https://meetingcpp.com/"><img src="img/TBD.jpg" alt="Meeting C++"></a></div>
    <div><a href="https://meetingcpp.com/"><img src="img/TBD.jpg" alt="Meeting C++"></a></div>
    <div><a href="https://meetingcpp.com/"><img src="img/TBD.jpg" alt="Meeting C++"></a></div>
    <div><a href="https://meetingcpp.com/"><img src="img/TBD.jpg" alt="Meeting C++"></a></div>
</div>
</section>

