
<section class="text-center">
<h1>Sponsors</h1>

{% capture ugly_workaround %}

The conference will last for one day and consist of ~10 tech sessions (2 tracks), coffee and lunch breaks. Since it will be totally free to attend, we count on sponsors for funding.

Are you or your company interested? Please [get in touch](mailto:info@italiancpp.org?subject=Sponsoring%30Italian%20C%2B%2B%20Conference%202023).

----

* * *
{% endcapture %}

<a id="sponsors" class="push-down-anchor"></a>
<div class="grid-partners h-flex">
    {%- for sponsor in site.data.sponsors -%}
        <div>
            <a href="{{sponsor.link}}">
                <img src="img/{{sponsor.logo}}" alt="{{sponsor.name}}">
            </a>
        </div>
    {%- endfor -%}
</div>
</section>

