
<section class="text-center">
<h1>Sponsors</h1>

<p>The conference will last for one day and consist of ~12 tech sessions (2 tracks), coffee and lunch breaks.</p>

<p>Since it will be totally free to attend, we count on sponsors for funding.</p>

<a id="sponsors" class="push-down-anchor"></a>
<div class="grid-partners h-flex">
    {%- for sponsor in site.data.sponsors -%}
        <div class="v-flex v-flex-center">
            <a href="{{sponsor.link}}">
                <img src="img/{{sponsor.logo}}" alt="{{sponsor.name}}">
            </a>
        </div>
    {%- endfor -%}
</div>
</section>

