<!DOCTYPE html>
<html>

{% include head.html %}
  
<body ondragstart="return false;" ondrop="return false;">

<nav class="navbar navbar-default navbar-default-color navbar-fixed-top">
    <a class="navbar-brand" href="/"><img src="{{ site.logo }}" style="margin-top:-15px" width="150px" alt="icon-about"></a>    
        <h2 class="text-muted text-center navbar-nav ">Past events of the Italian C++ Community</h2>
</nav>

<div id="push-down-header"></div>

{% for post in site.posts %}
<section class="h-flex">
    <img src="{{site.baseurl}}/{{post.poster}}" class="archive-event-image">
    <div class="v-flex one-third-wide">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>🌐 {{post.where}} - 🗓  {{post.when}}</p>
        <p><em>{{post.summary}}</em></p>
    <hr class="archive-break">    
    </div>
     
</section>
{% endfor %}

<div id="push-down-footer"></div>
{% include footer.html %}
{% include 2016_data/js.html %}
</body>
</html>
