
<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

    <!-- Header bar with logo and contacts. -->    
    {% include header-home.html %}

    <header>
        <div class="container">
            <div class="intro-text">
            <!--
                Not in use as of 2021. Kept as we may want to restore it later.
                <div class="intro-heading monospace">{{ site.title }}</div>
                <div class="intro-lead-in">{{ site.date }}</div>
                <div class="intro-lead-in">{{ site.place }}</div>
                <a href="#about" class="page-scroll btn btn-xl">Tell me more</a>
                -->
            </div>
        </div>
    </header>
    
    {% include intro-text-home.html %}
   
    {% include cfs-form.html %}
   
    {% include speakers-home.html %}
    {% include speaker-info-home.html %}
    
    {% include agenda-home.html %}


    {% include 2016_data/footer.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
