<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    <!-- Header with logo and contacts. -->    
    {% include header-home.html %}

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading monospace">{{ site.title }}</div>
                <div class="intro-lead-in">{{ site.date }}</div>
                <div class="intro-lead-in">{{ site.place }}</div>
                <a href="#about" class="page-scroll btn btn-xl">Tell me more</a>
            </div>
        </div>
    </header>

    {% include 2017_data/about.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
