<!DOCTYPE html>
<html>

<style>
.wide-hr {
    /* Workaround for <hr> not displaying...*/
    width: 100%;
}

.red {
    color: red;
    font-weight: bolder;
}

.highlight {
    font-weight: bold;
     font-size: large;
}

.mid-importance {
    font-weight: bold;
}

.metro-line-logo {
    width: 20%;
}
</style>

  {% include head.html %}
 

<!--Remove image dragging -->  
<body id="page-top" class="index" ondragstart="return false;" ondrop="return false;">

<section class="bg-light-gray">

<div class="text-center">
    <h1>How to reach the conference</h1>
    <h2 class="red">Page Under Construction</h2>
</div>



<div class="narrow">
 <hr class="wide-hr">
    <div class="v-flex">
        <div class="h-flex ">
            <div class="one-third-wide highlight">
                <p>Address</p>
            </div>
            <div class="two-thirds-wide">
                <p>Università degli Studi Roma 3</p>
                <p>Dipartimento di Ingengeria Civile, Informatica, e delle Tecnologie Aeronautiche</p>
                <p class="mid-importance">Via Vito Volterra 62</p>
                
                <a href="https://www.uniroma3.it/ateneo/dove-siamo/">Univeristy Website</a>
            </div>
        </div>
        
        <hr class="wide-hr">
        
        <div class="h-flex">
            <div class="one-third-wide highlight">
                <p>Take the Metro<p>
            </div>
            <div class="two-thirds-wide">
                <p class="mid-importance">Metro line B</p>
                <img class="metro-line-logo" src="https://italiancpp.github.io/con23/img/metro_b_wikipedia.svg">
                <p class="mid-importance">Basilica S. Paolo Station</p>
                
                <p>This is the preferred way to reach the location, only a few minutes walk from the university.<p>
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d5943.440200158589!2d12.469777976874603!3d41.85585106689569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x13258a8935738eb5%3A0xad8bb9d91a4062aa!2sBasilica%20S.%20Paolo%2C%2000145%20Roma%20RM!3m2!1d41.8558512!2d12.4781683!4m5!1s0x13258a9230dd4857%3A0x14e0f85b90e07244!2sVia%20Vito%20Volterra%2C%2062%2C%20Rome%2C%20Metropolitan%20City%20of%20Rome%20Capital!3m2!1d41.854737899999996!2d12.4701469!5e0!3m2!1sit!2sit!4v1679934406250!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
                <p>The line serves the city center, should you need to find accomodation in that area.<p>
                
                <p>Please refer to the <a href="https://www.metropolitanadiroma.it/linee-metropolitana-di-roma/linea-b-metropolitana-di-roma.html">Metro Service website</a> as well as the <a href="https://www.atac.roma.it/">Rome Transportation Company</a> for maps, timetables and up to date information on strikes and other service interruptions</p>
            </div>
        </div>
        
        <hr class="wide-hr">
        
        <div class="h-flex">
            <div class="one-third-wide highlight">
                <p>By Train</p>
            </div>
            <div class="two-thirds-wide">
                <p>Coming by train may help you reach Rome in the morning and return home in the 
                evening, should you wish to do so, with no need for accomodation.</p>
                <p>The Metro B line connects both <em>Termini</em> and <em>Tiburtina</em> stations to the location.</p>
                
             <p>Please refer directly to the websites of the two major italian railway companies:</p>
             <ul>
                <li><a href="https://www.trenitalia.com/en.html">Trenitalia</a></li>
                <li><a href="https://www.italotreno.it/en">Italo</a></li>
            </div>
        </div>
        
        <hr class="wide-hr">
        
        <div class="h-flex">
            <div class="one-third-wide highlight">
                <p>By Car</p>
            </div>
            <div class="two-thirds-wide">
                <p>Road traffic in Rome is notoriously treacherous, even more so during the
                morning rush hour. Parking spaces are highly sought after real estate.</p>
                
                <p>It should be possible to park in streets around the univeristy:</p>
                <ul>
                    <li>Via Vito Volterra</li>
                    <li>Via Angelo Battelli</li>
                    <li>Via Salvatore Pincherle</li>
                </ul>
                
                <p><em>The University's parking lot will NOT be available for the attendees.</em></p>
            </div>
        </div>
        
        <hr class="wide-hr">
        
        <div class="h-flex">
            <div class="one-third-wide highlight">
                <p>By bus</p>
            </div>
            <div class="two-thirds-wide">
                <p>The University area is served by numerous bus lines.</p>
                <p>Please refer to the <a href="https://www.atac.roma.it/">Rome Transportation Company</a> website to find the closest to your departure point.</p>
            </div>
        </div>
        
    <div>
</div>
</section>

{% include map-home.html %}

</body>
</html>
